<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmail.mariska.fitfood">
    <!-- declarations of permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Permissions required by the sync adapter -->
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <!-- application declarations -->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".FoodListActivity"
            android:label="@string/app_name"
            android:theme="@style/FitFoodTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".FoodDetailActivity"
            android:label="@string/title_activity_food_detail"
            android:parentActivityName=".FoodListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FoodListActivity" />
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:theme="@style/SettingsTheme"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".FoodListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FoodListActivity" />
        </activity>


        <!-- SyncAdapter's dummy authentication service -->
        <service android:name=".sync.FitFoodAuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <!-- The SyncAdapter service -->
        <service
            android:name=".sync.FitFoodSyncService"
            android:exported="true"
            android:process=":sync">

            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <!-- PROVIDERS -->
        <provider
            android:name=".data.FitFoodProvider"
            android:authorities="@string/content_authority"
            android:exported="false"
            android:syncable="true" />
    </application>

</manifest>
